# /root/ca-external-step1.cfg sur ica01
# pkispawn, etape 1 : generation de la cle et de la CSR de la CA intermediaire
# (mode "external CA" : la signature est faite hors ligne par la racine).

[DEFAULT]

pki_instance_name=pki-tomcat

pki_https_port=8443
pki_http_port=8080

pki_admin_password=[REDACTED]
pki_client_database_password=[REDACTED]
pki_client_pkcs12_password=[REDACTED]

pki_ds_bind_dn=cn=Directory Manager
pki_ds_password=[REDACTED]

pki_security_domain_password=[REDACTED]

pki_restart_configured_instance=False

pki_enable_proxy=False
pki_enable_java_debugger=False

pki_hostname=ica01.cercueil.local

[CA]

pki_external=True

pki_external_csr_path=/root/ica.csr
pki_ca_signing_csr_path=/root/ica-signing.csr

pki_ca_signing_subject_dn=CN=Cercueil Intermediate CA,O=Cercueil,C=FR

pki_ocsp_signing_key_algorithm=SHA256withRSA
pki_ca_signing_key_algorithm=SHA256withRSA

pki_ca_signing_key_size=4096

pki_admin_email=pkiadmin@cercueil.local

pki_enable_random_serial_numbers=True

pki_serial_number_range_start=1000000000
pki_serial_number_range_end=2000000000

pki_ds_url=ldap://127.0.0.1:389
pki_ds_base_dn=dc=pki,dc=cercueil,dc=local

pki_issuing_ca_uri=https://ica01.cercueil.local:8443
