# Profil d'enrolement Dogtag pour les certificats clients VPN
# Depose sur la CA intermediaire dans /root/vpn-profile/vpnUserCert.cfg
# puis importe avec : pki ca-profile-add vpnUserCert.cfg --raw

profileId=vpnUserCert
classId=caEnrollImpl

desc=VPN User Certificate
visible=true
enable=true
enableBy=admin
auth.instance_id=raCertAuth

name=VPN User Certificate

#authz.acl=certServer.ca.request.enroll

input.list=i1

input.i1.class_id=certReqInputImpl
input.i1.name=Certificate Request Input

policyset.list=vpnUserCertSet

policyset.vpnUserCertSet.list=1,2,3,4,5,6

########################################################################
# Subject name : le CN est repris de la CSR (login AD de l'utilisateur)
########################################################################

policyset.vpnUserCertSet.1.constraint.class_id=subjectNameConstraintImpl
policyset.vpnUserCertSet.1.constraint.params.pattern=.*CN=.*

policyset.vpnUserCertSet.1.default.class_id=userSubjectNameDefaultImpl

########################################################################
# Validity period : 365 jours
########################################################################

policyset.vpnUserCertSet.2.constraint.class_id=validityConstraintImpl

policyset.vpnUserCertSet.2.default.class_id=validityDefaultImpl
policyset.vpnUserCertSet.2.default.params.range=365

########################################################################
# Key constraints : RSA 2048 ou 4096
########################################################################

policyset.vpnUserCertSet.3.constraint.class_id=keyConstraintImpl
policyset.vpnUserCertSet.3.constraint.params.keyType=RSA
policyset.vpnUserCertSet.3.constraint.params.keyParameters=2048,4096

policyset.vpnUserCertSet.3.default.class_id=userKeyDefaultImpl

########################################################################
# Basic constraints : certificat d'entite finale, pas de CA
########################################################################

policyset.vpnUserCertSet.4.constraint.class_id=noConstraintImpl

policyset.vpnUserCertSet.4.default.class_id=basicConstraintsExtDefaultImpl

policyset.vpnUserCertSet.4.default.params.basicConstraintsCritical=true
policyset.vpnUserCertSet.4.default.params.basicConstraintsIsCA=false

########################################################################
# Key usage : signature et chiffrement de cle uniquement
########################################################################

policyset.vpnUserCertSet.5.constraint.class_id=noConstraintImpl

policyset.vpnUserCertSet.5.default.class_id=keyUsageExtDefaultImpl
policyset.vpnUserCertSet.5.constraint.class_id=keyUsageExtConstraintImpl

policyset.vpnUserCertSet.5.default.params.keyUsageCritical=true

policyset.vpnUserCertSet.5.default.params.keyUsageDigitalSignature=true
policyset.vpnUserCertSet.5.default.params.keyUsageNonRepudiation=false
policyset.vpnUserCertSet.5.default.params.keyUsageDataEncipherment=false
policyset.vpnUserCertSet.5.default.params.keyUsageKeyEncipherment=true
policyset.vpnUserCertSet.5.default.params.keyUsageKeyAgreement=false
policyset.vpnUserCertSet.5.default.params.keyUsageKeyCertSign=false
policyset.vpnUserCertSet.5.default.params.keyUsageCrlSign=false
policyset.vpnUserCertSet.5.default.params.keyUsageEncipherOnly=false
policyset.vpnUserCertSet.5.default.params.keyUsageDecipherOnly=false

########################################################################
# Extended Key Usage : clientAuth (1.3.6.1.5.5.7.3.2)
########################################################################

policyset.vpnUserCertSet.6.constraint.class_id=noConstraintImpl

policyset.vpnUserCertSet.6.default.class_id=extendedKeyUsageExtDefaultImpl

policyset.vpnUserCertSet.6.default.params.exKeyUsageOIDs=1.3.6.1.5.5.7.3.2
